<h1>Stage 2: Select your config and options</h1>

<form class="stage-2-container" [formGroup]="step2Form">
    <div class="tesla-config">
        <label for="configSelect">Config:</label>
        <select name="config" id="configSelect" formControlName="currentConfig" (change)="onModelChange($event)">
            @if (configInformation?.configs?.length) {
                <option value="" selected>Choose...</option>
                @for (config of configInformation?.configs; track config.id) {
                    <option [value]="config.description">{{ config?.description }}</option>
                }
            }
        </select>
    </div>


    @if (selectedConfig?.range) {
        <div class="details">
            <span>Range: {{ selectedConfig?.range }} miles - Max speed: {{ selectedConfig?.speed }} - Cost {{ selectedConfig?.price | currencyFormat }}</span>
        </div>
    }

    <div class="options">
        <div>
            <label for="includeTow">Tow hitch?</label>
            <input type="checkbox" formControlName="towHitch" id="includeTow" />
        </div>
        <div>
            <label for="includeYoke">Yoke steering wheel? </label>
            <input type="checkbox" formControlName="yoke" id="includeYoke" />
        </div>
    </div>

    <app-image [path]="step1FormState?.imagePathGenerated" [alt]="step1FormState?.selectedModel?.description"/>
</form>


