/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";

form {
  background: transparent;
  border-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
